%contantTitle {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 1.3;
}

%contantText {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 1.3;
}
